numpy==2.4.6
opencv-contrib-python==4.13.0.92
matplotlib==3.11.0
pandas==3.0.3
pillow==12.2.0
pybind11==3.0.4
pkgconfig==1.6.0
setuptools==82.0.1
wheel==0.47.0

# Local external detector package
# Required for STag scripts if using the included local source folder:
-e ./external_libs/stag-python
